[submodule "platforma-features"]
	path = platforma-features
	url = https://github.com/gogolivan/platforma-features
[submodule "platforma-actions"]
	path = platforma-actions
	url = https://github.com/gogolivan/platforma-actions
[submodule "platforma-proto"]
	path = platforma-proto
	url = https://github.com/gogolivan/platforma-proto
[submodule "platforma-catalog"]
	path = platforma-catalog
	url = https://github.com/gogolivan/platforma-catalog
