[submodule "platforma-features"]
	path = platforma-features
	url = https://github.com/gogolivan/platforma-features
[submodule "platforma-actions"]
	path = platforma-actions
	url = https://github.com/gogolivan/platforma-actions
[submodule "platforma-proto"]
	path = platforma-proto
	url = https://github.com/gogolivan/platforma-proto
[submodule "platforma-catalog"]
	path = platforma-catalog
	url = https://github.com/gogolivan/platforma-catalog
[submodule "platforma-operators"]
	path = platforma-operators
	url = https://github.com/gogolivan/platforma-operators
[submodule "platforma-skills"]
	path = platforma-skills
	url = https://github.com/gogolivan/platforma-skills
